<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haitaotao.mapper.AdMapper" >

	<resultMap id="BaseResultMap" type="com.haitaotao.entity.Ad" >
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="link" property="link" />
		<result column="url" property="url" />
		<result column="position" property="position" />
		<result column="content" property="content" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="enabled" property="enabled" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="deleted" property="deleted" />
	</resultMap>

	<sql id="Base_Column_List" >
		`id`, `name`, `link`, `url`, `position`, `content`, `start_time`, `end_time`, `enabled`, `create_time`, `update_time`, `deleted`
	</sql>

	<!-- 根据PrimaryKey查询广告表 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_ad
		<where>
			id = #{id}
		</where>
	</select>

	<!-- 条件查询广告表 -->
	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.haitaotao.entity.Ad" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_ad
		<where>
			<if test="id != null" >
				and `id` = #{id}
			</if>
			<if test="name != null and name != ''" >
				and `name` = #{name}
			</if>
			<if test="link != null and link != ''" >
				and `link` = #{link}
			</if>
			<if test="url != null and url != ''" >
				and `url` = #{url}
			</if>
			<if test="position != null" >
				and `position` = #{position}
			</if>
			<if test="content != null and content != ''" >
				and `content` = #{content}
			</if>
			<if test="startTime != null" >
				and `start_time` = #{startTime}
			</if>
			<if test="endTime != null" >
				and `end_time` = #{endTime}
			</if>
			<if test="enabled != null" >
				and `enabled` = #{enabled}
			</if>
			<if test="createTime != null" >
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null" >
				and `update_time` = #{updateTime}
			</if>
			<if test="deleted != null" >
				and `deleted` = #{deleted}
			</if>
		</where>
	</select>

	<!-- 插入广告表 -->
	<insert id="insertSelective" parameterType="com.haitaotao.entity.Ad" >
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into haitaotao_ad
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="name != null" >
                `name`,
            </if>
			<if test="link != null" >
                `link`,
            </if>
			<if test="url != null" >
                `url`,
            </if>
			<if test="position != null" >
                `position`,
            </if>
			<if test="content != null" >
                `content`,
            </if>
			<if test="startTime != null" >
                `start_time`,
            </if>
			<if test="endTime != null" >
                `end_time`,
            </if>
			<if test="enabled != null" >
                `enabled`,
            </if>
			<if test="createTime != null" >
                `create_time`,
            </if>
			<if test="updateTime != null" >
                `update_time`,
            </if>
			<if test="deleted != null" >
                `deleted`,
            </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="name != null" >
				#{name},
			</if>
			<if test="link != null" >
				#{link},
			</if>
			<if test="url != null" >
				#{url},
			</if>
			<if test="position != null" >
				#{position},
			</if>
			<if test="content != null" >
				#{content},
			</if>
			<if test="startTime != null" >
				#{startTime},
			</if>
			<if test="endTime != null" >
				#{endTime},
			</if>
			<if test="enabled != null" >
				#{enabled},
			</if>
			<if test="createTime != null" >
				#{createTime},
			</if>
			<if test="updateTime != null" >
				#{updateTime},
			</if>
			<if test="deleted != null" >
				#{deleted},
			</if>
		</trim>
	</insert>

	<!-- 根据PrimaryKey更新广告表 -->
	<update id="updateByPrimaryKey" parameterType="com.haitaotao.entity.Ad" >
		update haitaotao_ad
		<set >
			<if test="name != null and name != ''" >
				`name` = #{name},
			</if>
			<if test="link != null and link != ''" >
				`link` = #{link},
			</if>
			<if test="url != null and url != ''" >
				`url` = #{url},
			</if>
			<if test="position != null" >
				`position` = #{position},
			</if>
			<if test="content != null and content != ''" >
				`content` = #{content},
			</if>
			<if test="startTime != null" >
				`start_time` = #{startTime},
			</if>
			<if test="endTime != null" >
				`end_time` = #{endTime},
			</if>
			<if test="enabled != null" >
				`enabled` = #{enabled},
			</if>
			<if test="createTime != null" >
				`create_time` = #{createTime},
			</if>
			<if test="updateTime != null" >
				`update_time` = #{updateTime},
			</if>
			<if test="deleted != null" >
				`deleted` = #{deleted},
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<!-- 根据PrimaryKey删除广告表 -->
	<update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from haitaotao_ad where id = #{id}
	</update>

	<!-- 根据PrimaryKey批量删除广告表 -->
	<update id="batchDeleteByPrimaryKey" parameterType="java.lang.Long">
        <if test="null != list and list.size > 0">
            delete from haitaotao_ad where id in
            <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
            </foreach>
        </if>
	</update>

</mapper>
