<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haitaotao.mapper.GoodsMapper" >

	<resultMap id="BaseResultMap" type="com.haitaotao.entity.Goods" >
		<id column="id" property="id" />
		<result column="goods_no" property="goodsNo" />
		<result column="name" property="name" />
		<result column="category_id" property="categoryId" />
		<result column="brand_id" property="brandId" />
		<result column="gallery" property="gallery" />
		<result column="keywords" property="keywords" />
		<result column="brief" property="brief" />
		<result column="is_on_sale" property="isOnSale" />
		<result column="sort_order" property="sortOrder" />
		<result column="pic_url" property="picUrl" />
		<result column="share_url" property="shareUrl" />
		<result column="is_new" property="isNew" />
		<result column="is_hot" property="isHot" />
		<result column="unit" property="unit" />
		<result column="counter_price" property="counterPrice" />
		<result column="retail_price" property="retailPrice" />
		<result column="detail" property="detail" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="deleted" property="deleted" />
	</resultMap>

	<sql id="Base_Column_List" >
		`id`, `goods_no`, `name`, `category_id`, `brand_id`, `gallery`, `keywords`, `brief`, `is_on_sale`, `sort_order`, `pic_url`, `share_url`, `is_new`, `is_hot`, `unit`, `counter_price`, `retail_price`, `detail`, `create_time`, `update_time`, `deleted`
	</sql>

	<!-- 根据PrimaryKey查询商品基本信息表 -->
	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_goods
		<where>
			id = #{id}
		</where>
	</select>

	<!-- 条件查询商品基本信息表 -->
	<select id="listByCondition" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from haitaotao_goods
		<where>
			and `deleted` = 0
			<if test="id != null" >
				and `id` = #{id}
			</if>
			<if test="goodsNo != null and goodsNo != ''" >
				and `goods_no` = #{goodsNo}
			</if>
			<if test="name != null and name != ''" >
				and `name` like concat('%', #{name}, '%')
			</if>
		</where>
		order by `id` desc
	</select>

    <select id="count" resultType="java.lang.Long">
		select count(*) from haitaotao_goods where deleted = 0
	</select>

    <!-- 插入商品基本信息表 -->
	<insert id="insert" parameterType="com.haitaotao.entity.Goods" >
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into haitaotao_goods
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="goodsNo != null" >
                `goods_no`,
            </if>
			<if test="name != null" >
                `name`,
            </if>
			<if test="categoryId != null" >
                `category_id`,
            </if>
			<if test="brandId != null" >
                `brand_id`,
            </if>
			<if test="gallery != null" >
                `gallery`,
            </if>
			<if test="keywords != null" >
                `keywords`,
            </if>
			<if test="brief != null" >
                `brief`,
            </if>
			<if test="isOnSale != null" >
                `is_on_sale`,
            </if>
			<if test="sortOrder != null" >
                `sort_order`,
            </if>
			<if test="picUrl != null" >
                `pic_url`,
            </if>
			<if test="shareUrl != null" >
                `share_url`,
            </if>
			<if test="isNew != null" >
                `is_new`,
            </if>
			<if test="isHot != null" >
                `is_hot`,
            </if>
			<if test="unit != null" >
                `unit`,
            </if>
			<if test="counterPrice != null" >
                `counter_price`,
            </if>
			<if test="retailPrice != null" >
                `retail_price`,
            </if>
			<if test="detail != null" >
                `detail`,
            </if>
			`create_time`,
			`update_time`,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="goodsNo != null" >
				#{goodsNo},
			</if>
			<if test="name != null" >
				#{name},
			</if>
			<if test="categoryId != null" >
				#{categoryId},
			</if>
			<if test="brandId != null" >
				#{brandId},
			</if>
			<if test="gallery != null" >
				#{gallery},
			</if>
			<if test="keywords != null" >
				#{keywords},
			</if>
			<if test="brief != null" >
				#{brief},
			</if>
			<if test="isOnSale != null" >
				#{isOnSale},
			</if>
			<if test="sortOrder != null" >
				#{sortOrder},
			</if>
			<if test="picUrl != null" >
				#{picUrl},
			</if>
			<if test="shareUrl != null" >
				#{shareUrl},
			</if>
			<if test="isNew != null" >
				#{isNew},
			</if>
			<if test="isHot != null" >
				#{isHot},
			</if>
			<if test="unit != null" >
				#{unit},
			</if>
			<if test="counterPrice != null" >
				#{counterPrice},
			</if>
			<if test="retailPrice != null" >
				#{retailPrice},
			</if>
			<if test="detail != null" >
				#{detail},
			</if>
			now(),
			now(),
		</trim>
	</insert>

	<!-- 根据PrimaryKey更新商品基本信息表 -->
	<update id="updateById" parameterType="com.haitaotao.entity.Goods" >
		update haitaotao_goods
		<set >
			<if test="goodsNo != null and goodsNo != ''" >
				`goods_no` = #{goodsNo},
			</if>
			<if test="name != null and name != ''" >
				`name` = #{name},
			</if>
			<if test="categoryId != null" >
				`category_id` = #{categoryId},
			</if>
			<if test="brandId != null" >
				`brand_id` = #{brandId},
			</if>
			<if test="gallery != null and gallery != ''" >
				`gallery` = #{gallery},
			</if>
			<if test="keywords != null and keywords != ''" >
				`keywords` = #{keywords},
			</if>
			<if test="brief != null and brief != ''" >
				`brief` = #{brief},
			</if>
			<if test="isOnSale != null" >
				`is_on_sale` = #{isOnSale},
			</if>
			<if test="sortOrder != null" >
				`sort_order` = #{sortOrder},
			</if>
			<if test="picUrl != null and picUrl != ''" >
				`pic_url` = #{picUrl},
			</if>
			<if test="shareUrl != null and shareUrl != ''" >
				`share_url` = #{shareUrl},
			</if>
			<if test="isNew != null" >
				`is_new` = #{isNew},
			</if>
			<if test="isHot != null" >
				`is_hot` = #{isHot},
			</if>
			<if test="unit != null and unit != ''" >
				`unit` = #{unit},
			</if>
			<if test="counterPrice != null" >
				`counter_price` = #{counterPrice},
			</if>
			<if test="retailPrice != null" >
				`retail_price` = #{retailPrice},
			</if>
			<if test="detail != null and detail != ''" >
				`detail` = #{detail},
			</if>
			`update_time` = now(),
		</set>
		<where>
			id = #{id} and `deleted` = 0
		</where>
	</update>

	<!-- 根据PrimaryKey删除商品基本信息表 -->
	<update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        update haitaotao_goods set `deleted` = 1 where id = #{id}
	</update>

</mapper>
