<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haitaotao.mapper.GoodsProductMapper" >

	<resultMap id="BaseResultMap" type="com.haitaotao.entity.GoodsProduct" >
		<id column="id" property="id" />
		<result column="goods_id" property="goodsId" />
		<result column="specifications" property="specifications" />
		<result column="price" property="price" />
		<result column="number" property="number" />
		<result column="url" property="url" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="deleted" property="deleted" />
	</resultMap>

	<sql id="Base_Column_List" >
		`id`, `goods_id`, `specifications`, `price`, `number`, `url`, `create_time`, `update_time`, `deleted`
	</sql>

	<!-- 根据PrimaryKey查询商品货品表 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_goods_product
		<where>
			id = #{id}
		</where>
	</select>

	<!-- 条件查询商品货品表 -->
	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.haitaotao.entity.GoodsProduct" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_goods_product
		<where>
			<if test="id != null" >
				and `id` = #{id}
			</if>
			<if test="goodsId != null" >
				and `goods_id` = #{goodsId}
			</if>
			<if test="specifications != null and specifications != ''" >
				and `specifications` = #{specifications}
			</if>
			<if test="price != null" >
				and `price` = #{price}
			</if>
			<if test="number != null" >
				and `number` = #{number}
			</if>
			<if test="url != null and url != ''" >
				and `url` = #{url}
			</if>
			<if test="createTime != null" >
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null" >
				and `update_time` = #{updateTime}
			</if>
			<if test="deleted != null" >
				and `deleted` = #{deleted}
			</if>
		</where>
	</select>

    <select id="count" resultType="java.lang.Long">
		select count(*) from haitaotao_goods_product where deleted = 0
	</select>

    <!-- 插入商品货品表 -->
	<insert id="insertSelective" parameterType="com.haitaotao.entity.GoodsProduct" >
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into haitaotao_goods_product
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="goodsId != null" >
                `goods_id`,
            </if>
			<if test="specifications != null" >
                `specifications`,
            </if>
			<if test="price != null" >
                `price`,
            </if>
			<if test="number != null" >
                `number`,
            </if>
			<if test="url != null" >
                `url`,
            </if>
			<if test="createTime != null" >
                `create_time`,
            </if>
			<if test="updateTime != null" >
                `update_time`,
            </if>
			<if test="deleted != null" >
                `deleted`,
            </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="goodsId != null" >
				#{goodsId},
			</if>
			<if test="specifications != null" >
				#{specifications},
			</if>
			<if test="price != null" >
				#{price},
			</if>
			<if test="number != null" >
				#{number},
			</if>
			<if test="url != null" >
				#{url},
			</if>
			<if test="createTime != null" >
				#{createTime},
			</if>
			<if test="updateTime != null" >
				#{updateTime},
			</if>
			<if test="deleted != null" >
				#{deleted},
			</if>
		</trim>
	</insert>

	<!-- 根据PrimaryKey更新商品货品表 -->
	<update id="updateByPrimaryKey" parameterType="com.haitaotao.entity.GoodsProduct" >
		update haitaotao_goods_product
		<set >
			<if test="goodsId != null" >
				`goods_id` = #{goodsId},
			</if>
			<if test="specifications != null and specifications != ''" >
				`specifications` = #{specifications},
			</if>
			<if test="price != null" >
				`price` = #{price},
			</if>
			<if test="number != null" >
				`number` = #{number},
			</if>
			<if test="url != null and url != ''" >
				`url` = #{url},
			</if>
			<if test="createTime != null" >
				`create_time` = #{createTime},
			</if>
			<if test="updateTime != null" >
				`update_time` = #{updateTime},
			</if>
			<if test="deleted != null" >
				`deleted` = #{deleted},
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<!-- 根据PrimaryKey删除商品货品表 -->
	<update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from haitaotao_goods_product where id = #{id}
	</update>

	<!-- 根据PrimaryKey批量删除商品货品表 -->
	<update id="batchDeleteByPrimaryKey" parameterType="java.lang.Long">
        <if test="null != list and list.size > 0">
            delete from haitaotao_goods_product where id in
            <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
            </foreach>
        </if>
	</update>

</mapper>
