<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haitaotao.mapper.GrouponMapper" >

	<resultMap id="BaseResultMap" type="com.haitaotao.entity.Groupon" >
		<id column="id" property="id" />
		<result column="order_no" property="orderNo" />
		<result column="groupon_id" property="grouponId" />
		<result column="rules_id" property="rulesId" />
		<result column="user_id" property="userId" />
		<result column="share_url" property="shareUrl" />
		<result column="creator_user_id" property="creatorUserId" />
		<result column="creator_user_time" property="creatorUserTime" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="deleted" property="deleted" />
	</resultMap>

	<sql id="Base_Column_List" >
		`id`, `order_no`, `groupon_id`, `rules_id`, `user_id`, `share_url`, `creator_user_id`, `creator_user_time`, `status`, `create_time`, `update_time`, `deleted`
	</sql>

	<!-- 根据PrimaryKey查询团购活动表 -->
	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_groupon
		<where>
			`id` = #{id} and `deleted` = 0
		</where>
	</select>

	<!-- 条件查询团购活动表 -->
	<select id="listByCondition" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_groupon
		<where>
			and `deleted` = 0
			<if test="rulesId != null" >
				and `rules_id` = #{rulesId}
			</if>
		</where>
		order by create_time desc
	</select>

	<!-- 插入团购活动表 -->
	<insert id="insert" parameterType="com.haitaotao.entity.Groupon" >
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into haitaotao_groupon
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="orderNo != null" >
                `order_no`,
            </if>
			<if test="grouponId != null" >
                `groupon_id`,
            </if>
			<if test="rulesId != null" >
                `rules_id`,
            </if>
			<if test="userId != null" >
                `user_id`,
            </if>
			<if test="shareUrl != null" >
                `share_url`,
            </if>
			<if test="creatorUserId != null" >
                `creator_user_id`,
            </if>
			<if test="creatorUserTime != null" >
                `creator_user_time`,
            </if>
			<if test="status != null" >
                `status`,
            </if>
			`create_time`,
			`update_time`,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="orderNo != null" >
				#{orderNo},
			</if>
			<if test="grouponId != null" >
				#{grouponId},
			</if>
			<if test="rulesId != null" >
				#{rulesId},
			</if>
			<if test="userId != null" >
				#{userId},
			</if>
			<if test="shareUrl != null" >
				#{shareUrl},
			</if>
			<if test="creatorUserId != null" >
				#{creatorUserId},
			</if>
			<if test="creatorUserTime != null" >
				#{creatorUserTime},
			</if>
			<if test="status != null" >
				#{status},
			</if>
			now(),
			now(),
		</trim>
	</insert>

	<!-- 根据PrimaryKey更新团购活动表 -->
	<update id="updateById" parameterType="com.haitaotao.entity.Groupon" >
		update haitaotao_groupon
		<set >
			<if test="orderNo != null and orderNo != ''" >
				`order_no` = #{orderNo},
			</if>
			<if test="grouponId != null" >
				`groupon_id` = #{grouponId},
			</if>
			<if test="rulesId != null" >
				`rules_id` = #{rulesId},
			</if>
			<if test="userId != null" >
				`user_id` = #{userId},
			</if>
			<if test="shareUrl != null and shareUrl != ''" >
				`share_url` = #{shareUrl},
			</if>
			<if test="creatorUserId != null" >
				`creator_user_id` = #{creatorUserId},
			</if>
			<if test="creatorUserTime != null" >
				`creator_user_time` = #{creatorUserTime},
			</if>
			<if test="status != null" >
				`status` = #{status},
			</if>
			`update_time` = now(),
		</set>
		<where>
			id = #{id} and `deleted` = 0
		</where>
	</update>

	<!-- 根据PrimaryKey删除团购活动表 -->
	<update id="removeById" parameterType="java.lang.Long">
        update haitaotao_groupon set `deleted` = 1 where `id` = #{id} and `deleted` = 0
	</update>

</mapper>
