<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haitaotao.mapper.IssueMapper" >

	<resultMap id="BaseResultMap" type="com.haitaotao.entity.Issue" >
		<id column="id" property="id" />
		<result column="question" property="question" />
		<result column="answer" property="answer" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="deleted" property="deleted" />
	</resultMap>

	<sql id="Base_Column_List" >
		`id`, `question`, `answer`, `create_time`, `update_time`, `deleted`
	</sql>

	<!-- 根据PrimaryKey查询常见问题表 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_issue
		<where>
			id = #{id}
		</where>
	</select>

	<!-- 条件查询常见问题表 -->
	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.haitaotao.entity.Issue" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_issue
		<where>
			<if test="id != null" >
				and `id` = #{id}
			</if>
			<if test="question != null and question != ''" >
				and `question` = #{question}
			</if>
			<if test="answer != null and answer != ''" >
				and `answer` = #{answer}
			</if>
			<if test="createTime != null" >
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null" >
				and `update_time` = #{updateTime}
			</if>
			<if test="deleted != null" >
				and `deleted` = #{deleted}
			</if>
		</where>
	</select>

	<!-- 插入常见问题表 -->
	<insert id="insertSelective" parameterType="com.haitaotao.entity.Issue" >
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into haitaotao_issue
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="question != null" >
                `question`,
            </if>
			<if test="answer != null" >
                `answer`,
            </if>
			<if test="createTime != null" >
                `create_time`,
            </if>
			<if test="updateTime != null" >
                `update_time`,
            </if>
			<if test="deleted != null" >
                `deleted`,
            </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="question != null" >
				#{question},
			</if>
			<if test="answer != null" >
				#{answer},
			</if>
			<if test="createTime != null" >
				#{createTime},
			</if>
			<if test="updateTime != null" >
				#{updateTime},
			</if>
			<if test="deleted != null" >
				#{deleted},
			</if>
		</trim>
	</insert>

	<!-- 根据PrimaryKey更新常见问题表 -->
	<update id="updateByPrimaryKey" parameterType="com.haitaotao.entity.Issue" >
		update haitaotao_issue
		<set >
			<if test="question != null and question != ''" >
				`question` = #{question},
			</if>
			<if test="answer != null and answer != ''" >
				`answer` = #{answer},
			</if>
			<if test="createTime != null" >
				`create_time` = #{createTime},
			</if>
			<if test="updateTime != null" >
				`update_time` = #{updateTime},
			</if>
			<if test="deleted != null" >
				`deleted` = #{deleted},
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<!-- 根据PrimaryKey删除常见问题表 -->
	<update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from haitaotao_issue where id = #{id}
	</update>

	<!-- 根据PrimaryKey批量删除常见问题表 -->
	<update id="batchDeleteByPrimaryKey" parameterType="java.lang.Long">
        <if test="null != list and list.size > 0">
            delete from haitaotao_issue where id in
            <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
            </foreach>
        </if>
	</update>

</mapper>
