<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haitaotao.mapper.KeywordMapper" >

	<resultMap id="BaseResultMap" type="com.haitaotao.entity.Keyword" >
		<id column="id" property="id" />
		<result column="keyword" property="keyword" />
		<result column="url" property="url" />
		<result column="is_hot" property="isHot" />
		<result column="is_default" property="isDefault" />
		<result column="sort_order" property="sortOrder" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="deleted" property="deleted" />
	</resultMap>

	<sql id="Base_Column_List" >
		`id`, `keyword`, `url`, `is_hot`, `is_default`, `sort_order`, `create_time`, `update_time`, `deleted`
	</sql>

	<!-- 根据PrimaryKey查询关键字表 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_keyword
		<where>
			id = #{id}
		</where>
	</select>

	<!-- 条件查询关键字表 -->
	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.haitaotao.entity.Keyword" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_keyword
		<where>
			<if test="id != null" >
				and `id` = #{id}
			</if>
			<if test="keyword != null and keyword != ''" >
				and `keyword` = #{keyword}
			</if>
			<if test="url != null and url != ''" >
				and `url` = #{url}
			</if>
			<if test="isHot != null" >
				and `is_hot` = #{isHot}
			</if>
			<if test="isDefault != null" >
				and `is_default` = #{isDefault}
			</if>
			<if test="sortOrder != null" >
				and `sort_order` = #{sortOrder}
			</if>
			<if test="createTime != null" >
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null" >
				and `update_time` = #{updateTime}
			</if>
			<if test="deleted != null" >
				and `deleted` = #{deleted}
			</if>
		</where>
	</select>

	<!-- 插入关键字表 -->
	<insert id="insertSelective" parameterType="com.haitaotao.entity.Keyword" >
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into haitaotao_keyword
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="keyword != null" >
                `keyword`,
            </if>
			<if test="url != null" >
                `url`,
            </if>
			<if test="isHot != null" >
                `is_hot`,
            </if>
			<if test="isDefault != null" >
                `is_default`,
            </if>
			<if test="sortOrder != null" >
                `sort_order`,
            </if>
			<if test="createTime != null" >
                `create_time`,
            </if>
			<if test="updateTime != null" >
                `update_time`,
            </if>
			<if test="deleted != null" >
                `deleted`,
            </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="keyword != null" >
				#{keyword},
			</if>
			<if test="url != null" >
				#{url},
			</if>
			<if test="isHot != null" >
				#{isHot},
			</if>
			<if test="isDefault != null" >
				#{isDefault},
			</if>
			<if test="sortOrder != null" >
				#{sortOrder},
			</if>
			<if test="createTime != null" >
				#{createTime},
			</if>
			<if test="updateTime != null" >
				#{updateTime},
			</if>
			<if test="deleted != null" >
				#{deleted},
			</if>
		</trim>
	</insert>

	<!-- 根据PrimaryKey更新关键字表 -->
	<update id="updateByPrimaryKey" parameterType="com.haitaotao.entity.Keyword" >
		update haitaotao_keyword
		<set >
			<if test="keyword != null and keyword != ''" >
				`keyword` = #{keyword},
			</if>
			<if test="url != null and url != ''" >
				`url` = #{url},
			</if>
			<if test="isHot != null" >
				`is_hot` = #{isHot},
			</if>
			<if test="isDefault != null" >
				`is_default` = #{isDefault},
			</if>
			<if test="sortOrder != null" >
				`sort_order` = #{sortOrder},
			</if>
			<if test="createTime != null" >
				`create_time` = #{createTime},
			</if>
			<if test="updateTime != null" >
				`update_time` = #{updateTime},
			</if>
			<if test="deleted != null" >
				`deleted` = #{deleted},
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<!-- 根据PrimaryKey删除关键字表 -->
	<update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from haitaotao_keyword where id = #{id}
	</update>

	<!-- 根据PrimaryKey批量删除关键字表 -->
	<update id="batchDeleteByPrimaryKey" parameterType="java.lang.Long">
        <if test="null != list and list.size > 0">
            delete from haitaotao_keyword where id in
            <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
            </foreach>
        </if>
	</update>

</mapper>
