<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haitaotao.mapper.MapRolePermissionMapper" >

	<resultMap id="BaseResultMap" type="com.haitaotao.entity.MapRolePermission" >
		<id column="id" property="id" />
		<result column="role_id" property="roleId"/>
		<result column="permission_id" property="permissionId"/>
	</resultMap>

	<sql id="Base_Column_List" >
		`id`, `role_id`, `permission_id`
	</sql>

	<select id="listPermissionIdByRoleIdList" resultType="java.lang.Long">
		select distinct `permission_id` from haitaotao_map_role_permission where `role_id` in
		<foreach collection="roleIdList" item="roleId" open="(" separator="," close=")">
			#{roleId}
		</foreach>
	</select>

</mapper>
