<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haitaotao.mapper.OrderGoodsMapper" >

	<resultMap id="BaseResultMap" type="com.haitaotao.entity.OrderGoods" >
		<id column="id" property="id" />
		<result column="order_no" property="orderNo" />
		<result column="goods_name" property="goodsName" />
		<result column="goods_no" property="goodsNo" />
		<result column="product_id" property="productId" />
		<result column="number" property="number" />
		<result column="price" property="price" />
		<result column="specifications" property="specifications" typeHandler="com.haitaotao.ibatis.JsonStringArrayTypeHandler"/>
		<result column="pic_url" property="picUrl" />
		<result column="comment" property="comment" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="deleted" property="deleted" />
	</resultMap>

	<sql id="Base_Column_List" >
		`id`, `order_no`, `goods_name`, `goods_no`, `product_id`, `number`, `price`, `specifications`, `pic_url`, `comment`, `create_time`, `update_time`, `deleted`
	</sql>

	<select id="listGoodsByOrderNo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from haitaotao_order_goods
		<where>
			and `order_no` = #{orderNo}
		</where>
	</select>

</mapper>
