<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haitaotao.mapper.RoleMapper" >

	<resultMap id="BaseResultMap" type="com.haitaotao.entity.Role" >
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="desc" property="desc" />
		<result column="enabled" property="enabled" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="deleted" property="deleted" />
	</resultMap>

	<sql id="Base_Column_List" >
		`id`, `name`, `desc`, `enabled`, `create_time`, `update_time`, `deleted`
	</sql>

	<!-- 根据PrimaryKey查询角色表 -->
	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_role
		<where>
			`deleted` = 0
			and `id` = #{id}
		</where>
		limit 1
	</select>

	<!-- 条件查询角色表 -->
	<select id="listByCondition" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from haitaotao_role
		<where>
			and `deleted` = 0
			<if test="name != null and name != ''" >
				and `name` = #{name}
			</if>
		</where>
		order by `create_time` desc
	</select>

    <select id="listRoleByIdList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from haitaotao_role where `enabled` = 1 and `deleted` = 0 and id in
		<foreach collection="roleIdList" item="roleId" open="(" separator="," close=")">
			#{roleId}
		</foreach>
	</select>

    <!-- 插入角色表 -->
	<insert id="insert" parameterType="com.haitaotao.entity.Role" >
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into haitaotao_role
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="name != null" >
                `name`,
            </if>
			<if test="desc != null" >
                `desc`,
            </if>
			<if test="enabled != null" >
                `enabled`,
            </if>
			`create_time`,
			`update_time`,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="name != null" >
				#{name},
			</if>
			<if test="desc != null" >
				#{desc},
			</if>
			<if test="enabled != null" >
				#{enabled},
			</if>
			now(),
			now(),
		</trim>
	</insert>

	<!-- 根据PrimaryKey更新角色表 -->
	<update id="updateById" parameterType="com.haitaotao.entity.Role" >
		update haitaotao_role
		<set >
			<if test="name != null and name != ''" >
				`name` = #{name},
			</if>
			<if test="desc != null and desc != ''" >
				`desc` = #{desc},
			</if>
			<if test="enabled != null" >
				`enabled` = #{enabled},
			</if>
			`update_time` = now(),
		</set>
		<where>
			`deleted` = 0
			and `id` = #{id}
		</where>
	</update>

	<!-- 根据PrimaryKey删除角色表 -->
	<update id="removeById" parameterType="java.lang.Long">
        update haitaotao_role set `deleted` = 1, `update_time` = now() where `deleted` = 0 and `id` = #{id}
	</update>

</mapper>
