<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haitaotao.mapper.StorageMapper" >

	<resultMap id="BaseResultMap" type="com.haitaotao.entity.Storage" >
		<id column="id" property="id" />
		<result column="key" property="key" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="size" property="size" />
		<result column="url" property="url" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="deleted" property="deleted" />
	</resultMap>

	<sql id="Base_Column_List" >
		`id`, `key`, `name`, `type`, `size`, `url`, `create_time`, `update_time`, `deleted`
	</sql>

	<!-- 根据PrimaryKey查询文件存储表 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_storage
		<where>
			id = #{id}
		</where>
	</select>

	<!-- 条件查询文件存储表 -->
	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.haitaotao.entity.Storage" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_storage
		<where>
			<if test="id != null" >
				and `id` = #{id}
			</if>
			<if test="key != null and key != ''" >
				and `key` = #{key}
			</if>
			<if test="name != null and name != ''" >
				and `name` = #{name}
			</if>
			<if test="type != null and type != ''" >
				and `type` = #{type}
			</if>
			<if test="size != null" >
				and `size` = #{size}
			</if>
			<if test="url != null and url != ''" >
				and `url` = #{url}
			</if>
			<if test="createTime != null" >
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null" >
				and `update_time` = #{updateTime}
			</if>
			<if test="deleted != null" >
				and `deleted` = #{deleted}
			</if>
		</where>
	</select>

	<!-- 插入文件存储表 -->
	<insert id="insertSelective" parameterType="com.haitaotao.entity.Storage" >
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into haitaotao_storage
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="key != null" >
                `key`,
            </if>
			<if test="name != null" >
                `name`,
            </if>
			<if test="type != null" >
                `type`,
            </if>
			<if test="size != null" >
                `size`,
            </if>
			<if test="url != null" >
                `url`,
            </if>
			<if test="createTime != null" >
                `create_time`,
            </if>
			<if test="updateTime != null" >
                `update_time`,
            </if>
			<if test="deleted != null" >
                `deleted`,
            </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="key != null" >
				#{key},
			</if>
			<if test="name != null" >
				#{name},
			</if>
			<if test="type != null" >
				#{type},
			</if>
			<if test="size != null" >
				#{size},
			</if>
			<if test="url != null" >
				#{url},
			</if>
			<if test="createTime != null" >
				#{createTime},
			</if>
			<if test="updateTime != null" >
				#{updateTime},
			</if>
			<if test="deleted != null" >
				#{deleted},
			</if>
		</trim>
	</insert>

	<!-- 根据PrimaryKey更新文件存储表 -->
	<update id="updateByPrimaryKey" parameterType="com.haitaotao.entity.Storage" >
		update haitaotao_storage
		<set >
			<if test="key != null and key != ''" >
				`key` = #{key},
			</if>
			<if test="name != null and name != ''" >
				`name` = #{name},
			</if>
			<if test="type != null and type != ''" >
				`type` = #{type},
			</if>
			<if test="size != null" >
				`size` = #{size},
			</if>
			<if test="url != null and url != ''" >
				`url` = #{url},
			</if>
			<if test="createTime != null" >
				`create_time` = #{createTime},
			</if>
			<if test="updateTime != null" >
				`update_time` = #{updateTime},
			</if>
			<if test="deleted != null" >
				`deleted` = #{deleted},
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<!-- 根据PrimaryKey删除文件存储表 -->
	<update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from haitaotao_storage where id = #{id}
	</update>

	<!-- 根据PrimaryKey批量删除文件存储表 -->
	<update id="batchDeleteByPrimaryKey" parameterType="java.lang.Long">
        <if test="null != list and list.size > 0">
            delete from haitaotao_storage where id in
            <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
            </foreach>
        </if>
	</update>

</mapper>
