<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haitaotao.mapper.SystemMapper" >

	<resultMap id="BaseResultMap" type="com.haitaotao.entity.System" >
		<id column="id" property="id" />
		<result column="key_name" property="keyName" />
		<result column="key_value" property="keyValue" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="deleted" property="deleted" />
	</resultMap>

	<sql id="Base_Column_List" >
		`id`, `key_name`, `key_value`, `create_time`, `update_time`, `deleted`
	</sql>

	<!-- 根据PrimaryKey查询系统配置表 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_system
		<where>
			id = #{id}
		</where>
	</select>

	<!-- 条件查询系统配置表 -->
	<select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.haitaotao.entity.System" >
		select
		<include refid="Base_Column_List" />
		from haitaotao_system
		<where>
			<if test="id != null" >
				and `id` = #{id}
			</if>
			<if test="keyName != null and keyName != ''" >
				and `key_name` = #{keyName}
			</if>
			<if test="keyValue != null and keyValue != ''" >
				and `key_value` = #{keyValue}
			</if>
			<if test="createTime != null" >
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null" >
				and `update_time` = #{updateTime}
			</if>
			<if test="deleted != null" >
				and `deleted` = #{deleted}
			</if>
		</where>
	</select>

	<!-- 插入系统配置表 -->
	<insert id="insertSelective" parameterType="com.haitaotao.entity.System" >
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into haitaotao_system
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="keyName != null" >
                `key_name`,
            </if>
			<if test="keyValue != null" >
                `key_value`,
            </if>
			<if test="createTime != null" >
                `create_time`,
            </if>
			<if test="updateTime != null" >
                `update_time`,
            </if>
			<if test="deleted != null" >
                `deleted`,
            </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="keyName != null" >
				#{keyName},
			</if>
			<if test="keyValue != null" >
				#{keyValue},
			</if>
			<if test="createTime != null" >
				#{createTime},
			</if>
			<if test="updateTime != null" >
				#{updateTime},
			</if>
			<if test="deleted != null" >
				#{deleted},
			</if>
		</trim>
	</insert>

	<!-- 根据PrimaryKey更新系统配置表 -->
	<update id="updateByPrimaryKey" parameterType="com.haitaotao.entity.System" >
		update haitaotao_system
		<set >
			<if test="keyName != null and keyName != ''" >
				`key_name` = #{keyName},
			</if>
			<if test="keyValue != null and keyValue != ''" >
				`key_value` = #{keyValue},
			</if>
			<if test="createTime != null" >
				`create_time` = #{createTime},
			</if>
			<if test="updateTime != null" >
				`update_time` = #{updateTime},
			</if>
			<if test="deleted != null" >
				`deleted` = #{deleted},
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<!-- 根据PrimaryKey删除系统配置表 -->
	<update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from haitaotao_system where id = #{id}
	</update>

	<!-- 根据PrimaryKey批量删除系统配置表 -->
	<update id="batchDeleteByPrimaryKey" parameterType="java.lang.Long">
        <if test="null != list and list.size > 0">
            delete from haitaotao_system where id in
            <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
            </foreach>
        </if>
	</update>

</mapper>
